@model List<LMSBL.DBModels.HomeModel>

@{
    LMSBL.DBModels.TblUser objUser = new LMSBL.DBModels.TblUser();
    objUser = (LMSBL.DBModels.TblUser)Session["UserSession"];
    var baseURL = System.Configuration.ConfigurationManager.AppSettings["CourseBaseURL"];
    var CourseOtherBaseURL = System.Configuration.ConfigurationManager.AppSettings["CourseOtherBaseURL"];
}
<style>
    #container {
        position: relative;
    }

    #img2 {
        position: absolute;
        left: 20px;
        top: 0px;
        fill: #fff;
    }

    #text1 {
        position: absolute;
        left: 275px;
        top: 100px;
        font-size: 30px;
        color: #fff;
    }

    #text2 {
        position: absolute;
        left: 320px;
        top: 100px;
        font-size: 30px;
        color: #fff;
    }

    #text3 {
        position: absolute;
        left: 200px;
        top: 100px;
        font-size: 30px;
        color: #fff;
    }

    .onhover:hover {
        background-color: lightgray;
    }
</style>
<div class="container-fluid mb-4 pl-4 pr-4">


    @if (Model != null)
    {

        var index = 0;
        var durationInSeconds = 0;
        var duration = "0";

        <div class="row">
            @foreach (var activity in Model)
            {
                index++;
                var activityURL = "#";
                if (!string.IsNullOrEmpty(activity.ActivityDuration) && activity.ActivityDuration != "0")
                {
                    if (Convert.ToInt32(activity.ActivityDuration) >= 60)
                    {
                        duration = activity.ActivityDuration + ":00 Min";
                    }
                    else
                    {
                        durationInSeconds = Convert.ToInt32(activity.ActivityDuration) * 60;
                        TimeSpan t = TimeSpan.FromSeconds(durationInSeconds);
                        duration = string.Format("{0:D2}:{1:D2}", (int)t.Minutes, t.Seconds);
                        duration = duration + " Min";
                    }
                }
                else
                {
                    duration = "-";
                }

                var classColor = "card-header-danger";
                if (activity.ActivityStatus == "Completed")
                {
                    classColor = "card-header-success";
                }
                if (activity.ActivityStatus == "InProgress")
                {
                    classColor = "card-header-warning";
                }
                <div class="col-lg-4 col-md-6 col-sm-6">
                    @if (activity.ActivityType == "Course")
                    {
                        if (activity.ActivitySubType == "Scorm1.2")
                        {
                            activityURL = Url.Action("LaunchCourse", "Assignment", new { CourseId = activity.ActivityId });

                        }
                        else if (activity.ActivitySubType == "Other")
                        {
                            activityURL = @CourseOtherBaseURL + "\\ContentModules\\" + @activity.ActivityId + "" + @activity.ActivityURL;

                        }
                    }

                    @if (activity.ActivityType == "Quiz")
                    {
                        activityURL = Url.Action("LaunchQuiz", "Assignment", new { QuizId = activity.ActivityId });

                    }
                    @if (activity.ActivityType == "Curriculum")
                    {
                        activityURL = Url.Action("LaunchCurriculum", "Assignment", new { cId = activity.ActivityId });
                    }


                    <a href="@activityURL">
                        <div class="card card-stats onhover">

                            @if (activity.ActivityType == "Course")
                            {
                                <div class="card-header @classColor card-header-icon">
                                    <div class="card-icon" style="padding:3px !important;">
                                        <i class="material-icons">local_library</i>
                                    </div>
                                    <p class="card-category" style="font-weight:bold;">Course</p>
                                    <h4 class="card-title">
                                        @if (activity.ActivityStatus == "Completed")
                                        {
                                            <span style="color:green; font-weight:bold;"> @activity.ActivityStatus</span>
                                        }
                                        @if (activity.ActivityStatus == "Not Started")
                                        {
                                            <span style="color:red; font-weight:bold;"> @activity.ActivityStatus</span>
                                        }
                                        @if (activity.ActivityStatus == "InProgress")
                                        {
                                            <span style="color:orange; font-weight:bold;"> @activity.ActivityStatus</span>
                                        }

                                    </h4>
                                </div>
                            }
                            @if (activity.ActivityType == "Quiz")
                            {
                                <div class="card-header @classColor card-header-icon">
                                    <div class="card-icon" style="padding:3px !important;">
                                        <i class="material-icons">quiz</i>
                                    </div>
                                    <p class="card-category" style="font-weight:bold;">Quiz</p>
                                    <h4 class="card-title">
                                        @if (activity.ActivityStatus == "Completed")
                                        {
                                            <span style="color:green; font-weight:bold;"> @activity.ActivityStatus</span>
                                        }
                                        @if (activity.ActivityStatus == "Not Started")
                                        {
                                            <span style="color:red; font-weight:bold;"> @activity.ActivityStatus</span>
                                        }
                                        @if (activity.ActivityStatus == "InProgress")
                                        {
                                            <span style="color:orange; font-weight:bold;"> @activity.ActivityStatus</span>
                                        }

                                    </h4>
                                </div>
                            }
                            @if (activity.ActivityType == "Curriculum")
                            {
                                <div class="card-header @classColor card-header-icon">
                                    <div class="card-icon" style="padding:3px !important;">
                                        <i class="material-icons">checklist</i>
                                    </div>
                                    <p class="card-category" style="font-weight:bold;">Curriculum</p>
                                    <h4 class="card-title">
                                        @if (activity.ActivityStatus == "Completed")
                                        {
                                            <span style="color:green; font-weight:bold;"> @activity.ActivityStatus</span>
                                        }
                                        @if (activity.ActivityStatus == "Not Started")
                                        {
                                            <span style="color:red; font-weight:bold;"> @activity.ActivityStatus</span>
                                        }
                                        @if (activity.ActivityStatus == "InProgress")
                                        {
                                            <span style="color:orange; font-weight:bold;"> @activity.ActivityStatus</span>
                                        }

                                    </h4>
                                </div>
                            }

                            <div class="card-footer" >
                                <div class="stats" style="width:100%;">
                                    <div style="width:50%;">@activity.ActivityName</div>
                                    @if (activity.ActivityType != "Curriculum")
                                    {
                                        if (duration != "-")
                                        {
                                            <div style="width:50%; text-align:end;"><b>Duration</b> - @duration</div>
                                        }
                                        else
                                        {
                                            <div style="width:50%; text-align:end;"><b>Duration</b> - N/A</div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                    </a>

                </div>
                if (index > 5)
                {
                    break;
                }
            }
        </div>
    }

</div>

<script>
    $(document).ready(function () {
        $('#activityTable').DataTable({
            "aaSorting": [3, "desc"],
            "paging": false,
            "ordering": true,
            "info": false,
            "bFilter": true,
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });

        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });
    });


</script>
<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
