@model LMSWeb.ViewModel.AdminHomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
    }
</style>
<div class="container-fluid mt-5 mb-4 pl-4 pr-4">
    @*<div class="row mb-1">
        <div class="col">
            <h3 class="title-color"><b>Progress</b></h3>
        </div>
    </div>*@
    <div class="row mt-5 ">
        <div class="col-lg-3 col-md-6 col-sm-6" style="cursor:pointer;" onclick="FilterResult('1');">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">groups</i>
                    </div>
                    <p class="card-category"><b>Total Users</b></p>
                    <h1 class="card-title">
                        @Model.allCounts.TotalUserCount
                    </h1>
                </div>
                <div class="card-footer">
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6" style="cursor:pointer;" onclick="FilterResult('2');">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">people</i>
                    </div>
                    <p class="card-category"><b>Active Users</b></p>
                    <h1 class="card-title">
                        @Model.allCounts.ActiveUserCount
                    </h1>
                </div>
                <div class="card-footer">
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6" style="cursor:pointer;" onclick="FilterResult('3');">
            <div class="card card-stats">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_library</i>
                    </div>
                    <p class="card-category"><b>Learnings</b></p>
                    <h1 class="card-title">
                        @Convert.ToInt32(Model.allCounts.TotalQuizCount + Model.allCounts.TotalCourseCount)
                    </h1>
                </div>
                <div class="card-footer">
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6" style="cursor:pointer;" onclick="FilterResult('4');">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon" style="margin-right:0px !important;">
                        <i class="material-icons">credit_score</i>
                    </div>
                    <p class="card-category"><b>High Score Users</b></p>
                    <h1 class="card-title">
                        @Convert.ToInt32(Model.allCounts.TotalHighScoreQuizUserCount + Model.allCounts.TotalHighScoreCourseUserCount)
                    </h1>
                </div>
                <div class="card-footer">
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="pt-3 pl-3 pr-3 course-list-container list-box">
        <div class="content">
            <div class="card">
                <div class="row">

                    <div class="col text-right">
                        <ul class="list-inline progress-list mt-2">

                            <li class="list-inline-item"><img src="~/assets/images/shape_AssignedUserLegend.png"> Assigned</li>
                            <li class="list-inline-item"><img src="~/assets/images/shape_NotAssignedLegend.png"> Not Assigned</li>
                            <li class="list-inline-item">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle create-learning-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-plus-circle"></i> Create Learning
                                    </button>
                                    <div class="dropdown-menu create-learning" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="@Url.Action("AddCourse", "Courses")">
                                            <img src="~/assets/images/course.png" style="margin-right:10px;" width="20%" />
                                            Course
                                        </a>
                                        <a class="dropdown-item" href="@Url.Action("AddQuiz", "Quiz")">
                                            <img src="~/assets/images/quiz.png" style="margin-right:10px;" width="20%" />
                                            Quiz
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="dvActivityData">
                    @Html.Partial("~/Views/Home/_AdminHomeList.cshtml", Model.lstActivities)
                </div>
            </div>
        </div>
    </div>
    @*<div class="row text-right mt-4">
            <a href="#" class="col no-underline"><i class="far fa-eye"></i> View All</a>
        </div>*@
    @*<div><a href="http://localhost:7777/LaunchPlayer.aspx?AID=4&LID=8" target="_blank">Test Course Link</a></div>*@
    @*<div>
            <video src="~/assets/360p.mp4" width="640px" height="380px"
                   controls="controls" controlsList="nodownload" oncontextmenu="return false;" />
            <br />
        </div>
        <audio controls="controls" controlsList="nodownload" oncontextmenu="return false;">
            <source src="~/assets/ghungroo.mp3" type="audio/mpeg" />
        </audio>*@
</div>
<script>

    function FilterResult(data) {
        if (data == 1) {
            window.location = "@Url.Action("UserReport", "Reports", new { isActive = false })";
        }
        if (data == 2) {
            window.location = "@Url.Action("UserReport", "Reports", new { isActive = true })";
        }
        if (data == 3) {
            window.location = "@Url.Action("LearningCompletionReport", "Reports")";
        }
        if (data == 4) {
            window.location = "@Url.Action("HighScoreUsersReport", "Reports")";
        }
    }
</script>

