@model LMSWeb.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    LMSBL.DBModels.TblUser objUser = new LMSBL.DBModels.TblUser();
    objUser = (LMSBL.DBModels.TblUser)Session["UserSession"];
    var baseURL = System.Configuration.ConfigurationManager.AppSettings["CourseBaseURL"];
    var CourseOtherBaseURL = System.Configuration.ConfigurationManager.AppSettings["CourseOtherBaseURL"];
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    @if (@Model.announcement != null)
    {
        <div class="row mb-1">
            <div class="col">
                <h3 class="title-color"><b>Recent Announcement</b></h3>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-stats" style="margin-bottom:0px !important;margin-top: 5px;">
                    <div style="padding:15px;">
                        <h4 class="card-title">
                            <b>  @Model.announcement.Title </b>
                        </h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="mt-2 row text-md-right">
            <a href="@Url.Action("ForumList", "Forum")" class="col no-underline title-color"><i class="far fa-eye"></i> View All</a>
        </div>
    }
    <div class="row mb-1">
        <div class="col">
            <h3 class="title-color"><b>Progress</b></h3>
        </div>
    </div>
     

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">not_started</i>
                    </div>
                    <p class="card-category"><b>Not Started</b></p>
                    <h1 class="card-title">
                        @Model.NotStartedCount
                    </h1>
                </div>
                <div class="card-footer">
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">pending</i>
                    </div>
                    <p class="card-category"><b>In Progress</b></p>
                    <h1 class="card-title">@Model.InProgressCount</h1>
                </div>
                <div class="card-footer">
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">fact_check</i>
                    </div>
                    <p class="card-category"><b>Completed</b></p>
                    <h1 class="card-title">@Model.CompletedCount</h1>
                </div>
                <div class="card-footer">
                    <div class="stats">
                         
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">apps</i>
                    </div>
                    <p class="card-category"><b>Total</b></p>
                    <h1 class="card-title">@Model.TotalCount</h1>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        
                    </div>
                </div>
            </div>
        </div>        
    </div>
        <div class="row mb-1" style="margin-top:20px;">
            <div class="col">
                <h3 class="title-color"><b>Recent Activities</b></h3>
            </div>
        </div>


        @if (Model != null)
        {
            <div class="row" id="dvActivityData">



            </div>

        }

        <div class="mt-2 row text-right">
            <a href="@Url.Action("MyAssignments", "Assignment")" class="col no-underline title-color"><i class="far fa-eye"></i> View All</a>
        </div>


    </div>
 

    <script>
        $(document).ready(function () {
            FilterResult("Total");
        });
        function FilterResult(data) {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: "/Home/GetFilteredData",
                data: '{status: "' + data + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {                    
                    $('#dvActivityData').html(response);
                    $("#divLoader").hide();
                },
                failure: function (response) {
                    console.log(response);
                    $("#divLoader").hide();
                },
                error: function (response) {
                    console.log(response);
                    $("#divLoader").hide();
                }
            });

        }
    </script>
