@model LMSBL.DBModels.TblQuiz
@{
    ViewBag.Title = "Review Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var IsRetry = false;
    var modelUser = (LMSBL.DBModels.TblUser)Session["UserSession"];
    if (modelUser != null)
    {
        if (modelUser.RoleId == 2)
        {
            Layout = "~/Views/Shared/_Layout.cshtml";

        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
            IsRetry = true;
        }
    }
    else
    {
        Layout = null;
        IsRetry = true;
    }
}


@using (Html.BeginForm("SubmitQuiz", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container-fluid mt-4 mb-4 pl-4 pr-4">        
        <div>
            @Html.HiddenFor(model => model.QuizId)
            @Html.HiddenFor(model => model.hdnResponseData, new { @id = "hdnResponseData" })
            @Html.HiddenFor(model => model.hdnReviewData, new { @id = "hdnReviewData" })
            <div class="card">
                <div class="card-body">
                    <div class="col-12 mb-2 remove-padding">
                        <h3 style="font-weight:bold;">Review Quiz</h3>
                        <span class="grey-color" style="font-weight:bold;">Quiz Title: @Model.QuizName</span><br />
                        @if (!string.IsNullOrEmpty(Model.QuizDescription))
                        {
                            <span class="grey-color">Description: @Model.QuizDescription</span>
                        }

                    </div>
                    <div class="col-12 remove-padding">
                        @if (Model.Duration != 0)
                        {
                            var durationInSeconds = Convert.ToInt32(Model.Duration) * 60;
                            TimeSpan t = TimeSpan.FromSeconds(durationInSeconds);
                            var duration = string.Format("{0:D2}:{1:D2}", (int)t.Minutes, t.Seconds);
                            <div class="blue-color " id="showtime">Duration : @duration Mins</div>
                        }

                        <div class="blue-color" id="showtime" style="margin-bottom:10px;"><b>Score: @Model.Score%</b></div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div id="dvQuestions"></div>
                </div>
            </div>

            <div class="col mt-3">
                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4 text-right">
                        @if (IsRetry == true)
                        {
                            <a href="@Url.Action("LaunchQuiz", "Assignment", new { QuizId = Model.QuizId })">
                                <button type="button" class="btn btn-primary prev-btn">
                                    <b>Retry</b>
                                </button>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("ViewQuiz", "Quiz", new { id = Model.QuizId })">
                                <button type="button" class="btn btn-primary prev-btn">
                                    <b>Retry</b>
                                </button>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- include summernote css/js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<script src="~/assets/Quiz.js"></script>


