@model LMSBL.DBModels.tblForumReply
@{
    ViewBag.Title = "Group Discussion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.AntiForgeryToken()

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">

    <div class="row justify-content-center h-100">
        <div class="col align-self-center add-user-section ">
            <div class="col">
                <h3><b>Post Comment</b></h3>
            </div>
            <div class="row pt-5 pl-4">
                <div>
                    @Html.HiddenFor(model => model.ForumId)
                    @Html.TextAreaFor(model => model.ForumReply, new { id = "txtReply" })
                </div>
            </div>
            <br />
            <div class="row justify-content-end pr-4">
                <button type="submit" id="btnReplySubmit" class="btn btn-primary pull-right"> Save Changes</button>
                <button type="submit" onclick="location.href='@Url.Action("MyAssignments", "Assignment")';return false;" class="btn btn-outline-primary cancel-btn"> Cancel</button>
            </div>
        </div>
        <br />
    </div>
    <div id="dvCommentList">
        @Html.Partial("~/Views/Forum/_CommentList.cshtml", Model)
    </div>

</div>



<script>
    $(document).ready(function () {
        $('#txtReply').summernote({
            height: 200,
            focus: true
        });

         $('#btnReplySubmit').on("click", function () {
             AddReplyToDB();
         });
    });

     function AddReplyToDB() {

        if ($('#txtReply').val() == null || $("#txtReply").val() == "") {
           toastr.error('Please enter your comment!');
        }
        else
        {
            var forumId = $('#ForumId').val();
            var replyText = $('#txtReply').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddReply")',
                data: '{forumId:' + JSON.stringify(forumId) + ',forumReply:' + JSON.stringify(replyText) + ' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    toastr.success('Comment posted Successfully!');
                    $("#txtReply").summernote("reset");

                    GetComments();
                },
                failure: function (response) {
                    toastr.error('Something went Wrong!');
                }
            });
        }
    }

    function GetComments() {
        var forumId = $('#ForumId').val();
        $.ajax({
                type: "POST",
                url: '@Url.Action("GetComment")',
                data: '{forumId:' + JSON.stringify(forumId) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            success: function (response) {
                console.log(response);                
                    $("dvCommentList").html(response);
                },
            failure: function (response) {                    
                    toastr.error('Something went Wrong!');
            },
            error: function (response) {                
                $("dvCommentList").hide();
                $("dvCommentList").html('');
                $("dvCommentList").html(response.responseText);
            }
          });
    }
</script>
