@{ LMSBL.DBModels.TblUser model = new LMSBL.DBModels.TblUser();
    model = (LMSBL.DBModels.TblUser)Session["UserSession"];
    if (model == null)
    {
        Response.Redirect(Url.Action("Logout", "Login", null));
    }
    var baseURL = model.TenantURL;
    var logo = "https://" + baseURL + "/assets/images/Logiciel_Logo.png";
    if (!string.IsNullOrEmpty(model.TenantLogo))
    {
        logo = model.TenantLogo;
    } }

<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/assets/img/sidebar-1.jpg">
    <div class="logo">
        <img src="@logo" width="246" height="61">
    </div>

    <div class="sidebar-wrapper">

        @if (model.RoleId == 3)
        {
<ul class="nav">
    <li class="nav-item @Html.IsSelected(controller: "Home", action: "Index")  ">
        <a class="nav-link" href="@Url.Action("Index", "Home")">
            <i class="material-icons">dashboard</i>
            <p style="font-size:18px; font-weight:bold;">Dashboard</p>
        </a>
    </li>

    <li id="lnkLearning" class="nav-item @Html.IsSelected(controller:"Assignment", action: "MyAssignments,LaunchCurriculum,LaunchCourse,ForumList")">
        <a class="nav-link" href="@Url.Action("MyAssignments", "Assignment")">
            <i class="material-icons">content_paste</i>
            <p style="font-size:18px;font-weight:bold;">My Learning</p>
        </a>
    </li>

    <li class="nav-item @Html.IsSelected(controller:"Reports",action: "Index,DetailReport,AttemptReport")">
        <a class="nav-link" href="@Url.Action("Index", "Reports")">
            <i class="material-icons">library_books</i>
            <p style="font-size:18px;font-weight:bold;">Reports</p>
        </a>
    </li>
</ul> }
else if (model.RoleId == 2)
{
    <ul class="nav">
        <li class="nav-item @Html.IsSelected(controller: "Home", action: "Index")  ">
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                <i class="material-icons">dashboard</i>
                <p style="font-size:18px; font-weight:bold;">Dashboard</p>
            </a>
        </li>
        <li class="nav-item @Html.IsSelected(controller: "User", action: "Index")  ">
            <a class="nav-link" href="@Url.Action("Index", "User")">
                <i class="material-icons">people</i>
                <p style="font-size:18px; font-weight:bold;">User</p>
            </a>
        </li>


        <li class="nav-item @Html.IsSelected(controller: "Courses", action: "Index")  ">
            <a class="nav-link" href="@Url.Action("Index", "Courses")">
                <i class="material-icons">local_library</i>
                <p style="font-size:18px; font-weight:bold;">Courses</p>
            </a>
        </li>
        <li class="nav-item @Html.IsSelected(controller: "Quiz", action: "Index")  ">
            <a class="nav-link" href="@Url.Action("Index", "Quiz")">
                <i class="material-icons">quiz</i>
                <p style="font-size:18px; font-weight:bold;">Quiz</p>
            </a>
        </li>
        <li class="nav-item @Html.IsSelected(controller: "Forum", action: "Index")  ">
            <a class="nav-link" href="@Url.Action("Index", "Forum")">
                <i class="material-icons">forum</i>
                <p style="font-size:18px; font-weight:bold;">Forum</p>
            </a>
        </li>
        <li class="nav-item @Html.IsSelected(controller: "Curriculum", action: "Index")  ">
            <a class="nav-link" href="@Url.Action("Index", "Curriculum")">
                <i class="material-icons">library_books</i>
                <p style="font-size:18px; font-weight:bold;">Curriculum</p>
            </a>
        </li>
        <li class="nav-item @Html.IsSelected(controller: "Reports", action: "UserReport,UserProgressReport,DetailReport,AttemptReport")  ">
            <a class="nav-link" href="@Url.Action("UserReport", "Reports", new { IsActive = "False",})">
                <i class="material-icons">recent_actors</i>
                <p style="font-size:18px; font-weight:bold;">User Report</p>
            </a>
        </li>
        <li class="nav-item @Html.IsSelected(controller: "Reports", action: "LearningCompletionReport,LearningProgressCompletionReport")  ">
            <a class="nav-link" href="@Url.Action("LearningCompletionReport", "Reports")">
                <i class="material-icons">fact_check</i>
                <p style="font-size:18px; font-weight:bold;">Completion Report</p>
            </a>
        </li>


    </ul>   }

    </div>
</div>